.app-wrapper {
    padding: 5px;

    app-results-panel, app-results-panel {
        display: block;
    }

    .content {
        display: flex;
    }

    table {
        align-self: flex-start;
        border: 1px solid gray
    }

    .not-configured-text {
        margin: 10px;
        border: 1px dashed darkblue;
        padding: 3px;
    }
    .nav {
        display: flex;
        margin: 6px;

        table {
            margin: 0 3px;
        }
    }

}
