<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /say-hello/  

  # Don't rewrite existing files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # All other requests go to index.html
  RewriteRule . index.html [L]
</IfModule>